<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="common-header">
	<meta charset="UTF-8">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<title th:text="'NIQ-DEV'"></title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/dist/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-table/1.23.5/dist/bootstrap-table.min.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<nav class="navbar navbar-dark bg-dark" th:fragment="common-navbar">
	    <div class="container-fluid">
	        <span class="navbar-brand"><i class="bi bi-pin"></i> NIQ-DEV</span>
	
	        <!-- 右側登入者資訊 & 登出按鈕 -->
	        <div class="d-flex align-items-center">
				<span class="text-white me-3" sec:authorize="isAuthenticated()">
					<i class="bi bi-person"></i> 
					<span th:text="${authUser?.displayName}"></span>
				</span>
				<button id="logoutBtn" class="btn btn-outline-light btn-sm">登出</button>
	        </div>
	    </div>
	</nav>
	
	<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true" th:fragment="common-logout-modal">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="logoutModalLabel">確認登出</h5>
	                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <div class="modal-body">
	                您確定要登出嗎？
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
	                <a href="/logout" class="btn btn-danger">確定登出</a>
	            </div>
	        </div>
	    </div>
	</div>
	
    <div id="sidebar" th:fragment="common-sidebar">
        <!-- Sidebar 收縮按鈕 -->
        <button id="toggleSidebar" class="btn"><i class="bi bi-list"></i></button>
        
        <a href="/"><i class="bi bi-house-door"></i> <span>首頁</span></a>
        <a href="#"><i class="bi bi-file-earmark-text"></i> <span>文章</span></a>

        <!-- 可摺疊的子菜單（設定） -->
        <a href="javascript:void(0);" id="collapseSetting">
            <i class="bi bi-gear"></i> <span>設定</span>
            <i class="bi bi-chevron-down ms-auto submenu-toggle-btn" id="submenuToggleIcon"></i> <!-- Chevron 圖示 -->
        </a>
        <div id="submenu" class="collapse">
            <a href="#">🔧 設定 1</a>
            <a href="#">🔩 設定 2</a>
            <a href="#">⚙ 設定 3</a>
        </div>

        <a href="#"><i class="bi bi-bar-chart-line"></i> <span>分析</span></a>
    </div>
	
	<div th:fragment="common-script">
		<script th:src="@{/webjars/bootstrap/5.3.3/dist/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/webjars/jquery/3.7.1/dist/jquery.min.js}"></script>
		<script th:src="@{/webjars/jquery-validation/1.20.0/jquery.validate.min.js}"></script>
		<script th:src="@{/webjars/bootstrap-table/1.23.5/dist/bootstrap-table.min.js}"></script>
		<script th:src="@{/webjars/bootstrap-table/1.23.5/dist/bootstrap-table-locale-all.min.js}"></script>
		<script th:src="@{/js/scripts.js}"></script>
	</div>
</body>
</html>