<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{ fragments/common :: common-header }" />
<body>

    <!-- 左側 Sidebar -->
	<div th:replace="~{ fragments/common :: common-sidebar }"></div>

    <!-- 主要內容區域 -->
    <div id="content">
        <!-- Navbar -->
		<div th:replace="~{ fragments/common :: common-navbar }"></div>
		
		<!-- 登出確認 Modal -->
		<div th:replace="~{ fragments/common :: common-logout-modal }"></div>

        <!-- 頁面內容 -->
        <div class="container">
            <h1>歡迎來到首頁</h1>
            <p>這是一個帶有可摺疊子菜單並且可以展開/收起 Sidebar 的範例。</p>
        </div>
    </div>

    <!-- 共用 JS -->
    <div th:replace="~{ fragments/common :: common-script }"></div>
</body>
</html>
